<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Providers</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Service Providers</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sevices</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="provider : ${serviceProviderList}">
                    <td th:text="${provider.name}"></td>
                    <td th:text="${provider.services}"></td>
                    <td th:text="${provider.contact}"></td>
                    <td>
                        <a th:href="@{/providerDetails(id=${provider.id})}" class="btn btn-primary">Select</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
